{% extends '@EzPublishCore/content_fields.html.twig' %}

{% block uivarvarianttype_field %}
    {% apply spaceless %}
    <div class="ez-table">
        <table class="table table-striped">
            {% set field_value = field.value.variantData %}
            <thead>
                <tr>
                    <th>{{ 'content_fields.ezvariants.sku.label'|trans|desc('SKU') }}</th>
                    <th>{{ 'content_fields.ezvariants.code.label'|trans|desc('Code') }}</th>
                    <th>{{ 'content_fields.ezvariants.description.label'|trans|desc('Description') }}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for variant in field.value.variantData %}
                <tr>
                    <td>{{ variant.sku.value }}</td>
                    <td>{{ variant.variantCode.value }}</td>
                    <td>{{ variant.description.value }}</td>
                    <td>{{ variant.characteristicCode1.value }}</td>
                    <td>{{ variant.characteristicCode2.value }}</td>
                </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
    {% endapply %}
{% endblock %}

{% block sesspecificationstype_field %}
    {% apply spaceless %}
        {% for specGroup in field.value.specData %}
            <table class="table ez-table--list">
                <thead>
                    <tr>
                        <th class="ez-table__cell ez-table__cell--header" colspan="2">
                            {% if specGroup.label is defined %}
                                {{ specGroup.label }}
                            {% else %}
                                <i>{{ specGroup.name }}</i>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for specGroupData in specGroup.data %}
                        <tr class="ez-table__row">
                            <td class="ez-table__cell">{{ specGroupData.label }}</td>
                            <td class="ez-table__cell">
                                {{ specGroupData.value }}
                                {% if specGroupData.selected_option is defined %}
                                    {{ ' ' }}
                                    {{ specGroupData.selected_option }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endapply %}
{% endblock sesspecificationstype_field %}
